# Base de données
DATABASE_URL="mysql://user:password@db:3306/family_dashboard"
MARIADB_ROOT_PASSWORD=rootpassword
MARIADB_DATABASE=family_dashboard
MARIADB_USER=user
MARIADB_PASSWORD=password

# NextAuth
# Générer avec : openssl rand -base64 32
NEXTAUTH_SECRET=<remplacer_par_une_valeur_generee>
NEXTAUTH_URL=http://localhost:3000