# Dépendances
node_modules/

# Build Next.js
.next/
out/

# Variables d'environnement — ne jamais committer le .env réel
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Dossiers de dev 

gamelle-instructions
public/uploads/gamelle
